/*.navbar-brand
  {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      text-align: center;
      margin: auto;
  }
*/


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}